@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  background-color: #1d1f20;
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
  /*background-image: url("../assets/.jpg");
  background-repeat: no-repeat;
  background-size: cover;*/
}

header > h1{
  display: block;
  margin: auto;
  background-color: darken(#1d1f20, 2%);
  border-radius: 10px;
  box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.05), inset 1px 1px 1px rgba(0, 0, 0, 0.3);
  width: 100%;
  padding: 10px;
}

nav {
  text-transform: capitalize;
  display: block;
  width: 100%;
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  margin: auto;
  align-items: center;
  z-index: +1000;
}

button {
  display: flexbox;
  text-align: center;
  margin: auto;
  cursor: pointer;
  outline: none;
  padding: 12px 21px;
  border-radius: 21%;
  background: none;
  transition: box-shadow 0.1s;
  color: #0a99e1;
  border: 4px solid #1d1f20; 
}

button:hover{
  border: 4px solid #0a99e1;
  color: #456BC7;
  box-shadow: 0px 0px 35px #0a99e1, 0px 0px 15px #0a99e1 inset;
  text-shadow: 0px 0px #0a99e1, 0px 0px 3px #0a99e1;
}

strong {
  color: rgba(255, 42, 0, 0.921);
}


h1 {
  text-align: center;

  background-color: rgba(255, 255, 255, 0.042);

  margin: 10px; 
}

h2, h3, #btnCrono{
  text-align: center;
  box-sizing: border-box;
  font-weight: bolder;
}


ul li {
  cursor: pointer;
  position: relative;
  display: inline-block;
  border-radius: 2px;
  padding: 15px;
  margin: auto;
  text-align: center;
  font-size: 1em;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tempo{
  width: 92%;
  margin: auto;
  display: grid;
  box-sizing: border-box;
  border: 1px solid #0a99e1;
  color: #fff;
  box-shadow: 0px 0px 15px #0a99e1, 0px 0px 1px #0a99e1 inset;
  text-shadow: 0px 0px #0a99e1, 0px 0px 3px #0a99e1;
  text-align: center;
  padding: 25px;
  font-size: 2em;
}

ul .liquest, .liquest{
  box-sizing: border-box;
  width: 92%;
  margin: auto;
  display: grid;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 2px;
  box-shadow: 0px 0px 35px #0a99e132, 0px 0px 2px #0a99e1 inset;
  padding: 21px;
  text-align: center;
 
}

ul li:hover {
  background: rgba(255, 255, 255, 0.042);
  border-radius: 2px;
}

ul {
  margin: 0;
  padding: 0;
  align-items: center;
}

li:hover, .tempo:hover{
  box-shadow: 0px 0px 35px #0a99e1, 0px 0px 15px #0a99e1 inset;
  text-shadow: 0px 0px #0a99e1, 0px 0px 3px #0a99e1;
}

a {
  background-color: lighten(#1d1f20, 10%);
  color: #fff;
  display: block;
  line-height: 1em;
  padding: 0;
  text-align: center;
  text-decoration: none;
  transition: all 100ms ease-out;
}

.container{

  display: flexbox;

  margin: auto;

  text-align: center;
  

}

input, .checkbox-wrapper{
  display: grid;
  color: #fff;
}



input:checked + .checkbox-wrapper{
  color: #456BC7;
  text-shadow: 0px 0px #0a99e1, 0px 0px 10px #48a9d9;
  text-decoration: line-through;
  text-decoration-color: #fff;
}

.redondo{
  border-radius: 50%;
}

.escondido{
  display: none;
}

.mostrar{
  transition: 5s;
  display: block;
}

#barra-progresso{
  color: #1d1f20;
  width: 145px;
  height: 30px;
  border: 1px solid black;
  background-image: linear-gradient(to right, red, red 0%, white 0%);
  margin: auto;
}

.botao{
  color: #1d1f20;
}

.cx-texto{
  color: #1d1f20;
  font-size: larger;
  text-align: center;
  margin: auto;
}

#playerFoto{
  margin: auto;
  width: 18%;
}
